<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <a class="nav-link" href="#"><%= link_to "See all Articles", articles_path %></a>
      <a class="nav-link" href="#"><%= link_to "Create a new article", new_article_path %></a>
    </nav>
    <%= yield %>
  </body>
</html>
